.flynn
{
  padding: 10px;
}

.aboutme
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.backgroundcolor
{
    background-color: gray;
}

.container
{
    background-color: white;
}

.secondcontainer
{
    margin-top: -32px;
    padding-top: 15px;
}

hr{
border-top: 2px solid gray;
background-color: white;
}