.flynn
{
  padding: 10px;
}

.aboutme
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container
{
    background-color:white;
}

.secondcontainer
{
    margin-top: -32px;
    padding-top: 15px;
}

.contactcontainer
{
  margin-top: 20px;
}

body {
  background-image: url("./concrete_seamless.png");
}

.borderbottom 
{
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
  width: 100%;
  margin-left: 5px;
}

.footer 
{
position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
}

.btn
{
margin-bottom: 5px;
margin-top: -5px;
}

.contactfooter
{
margin-right: 80px;
width: 100%;
text-align: center;
}

hr
{
  border-bottom: 2px solid gray;
}